@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  font-family: "Outfit", sans-serif;
}

.slider {
  appearance: none;
  -webkit-appearance: none;
  height: 100%;
  width: 100%;
  background: transparent;
  cursor: e-resize;
}
.slider::-webkit-slider-thumb {
  appearance: none;
  width: 30px;
  min-height: 30px;
  background-image: url(/slide_icon.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: e-resize;
}
.bg-layer {
  background-image: url(/bg_layer.png);
}
